.container-fluid{
    width:100%;
    padding:0;
    margin:0;
}
.career-intro{
    background-image: url(./img/hero1.jpg);
    background-size:cover;
    height:760px;
}
.career-intro h1{
    font-size:90px;
    font-weight:bold;
    color:white;
    text-align:center;
    padding-top:315px;
}
.initial{
    background-image: url("./img/success.png");
   background-size:cover;
   height:580px;
}
.initial p{
    font-size:35px;
    color:#666666;
    padding:105px 260px 0 260px;
   
}
.contents{
    background-image:url(./img/service.jpg);
    background-size:cover;
    box-shadow: inset 2000px 0 0 0 rgba(293, 43, 85, 0.65);
  
}
.contents img{
     position:absolute;
     height:540px;
     width:1300px;
    left:0;
    right:0;
    bottom:0;
    top:1680px;
    margin:auto;
}
@-moz-document url-prefix(){
    .contents img{
        top:1320px;
    }
}
.contents h2{
    text-align:center;
    padding-top:300px;
    color:white;
    font-size:40px;
    font-style:italic;
    font-weight:500px;
}
.contents .row{
    margin:30px 0 0  10%;
}
.contents .column{
    width:675px;
    background:white;
    margin:35px;
    text-align:center;
    padding:85px 0;
    height:370px;
}
.contents .column h3{   
    color:#666666;
    font-size:35px;
    
}

.contents .column button{
    margin-top:60px;
    width:150px;
    height:45px;
    font-size:16px;
    border: 2px solid #EF2B55;
    color:#EF2B55;
  cursor:pointer;
  background:none;
    text-decoration:none;
}

@media only screen and (max-width:1660px){
    .career-intro h1{
        font-size:45px;
    }
    .initial p{
        font-size:20px;
        padding:50px 80px 0 80px;
    }
    .initial {
        height:300px;
    }
    .contents img{
        width:70%;
        height:240px;
        top:950px;
    }
    .contents h2{
        padding-top:100px;
    }
    .contents .row{
        margin-left:10px;
    }
    .contents.column{
        width:100%;
    }
}
@media only screen and (max-width:1500px){
    .contents .column{
        width:40%;
    }
    .contents .row{
        margin-left:4%;
    }
}
    @media only screen and (max-width:767px)
    {
        .career-intro{
            height:300px;
        }
        .career-intro h1{
           
            padding-top:120px;
        }
        .initial p{
        
            padding:50px 20px 0 20px;
        }
        .contents img{
            width:0;
            height:0;
        }
        .contents h2{
            font-size:30px;
            padding-top:50px;
        }
        .contents .row{
            margin:0;
        }
        .contents .column{
            width:100%;
            /* margin:15px; */
        }
        .contents .column h3{
            font-size:25px;
        }
    }
