
/* projects  */

.project-intro{
        background-image: url("./img/project-intro.jpg");
        background-size:cover;
        box-shadow: inset 2000px 0 0 0 rgba(293, 43, 85, 0.4);
        height:520px;
}
.project-intro h1{
    font-size:65px;
    font-weight:bold;
    color:white;
    text-align:center;
    padding-top:230px;
    text-shadow:0px 4px #3C3C3C;
}
.project-init{
    margin:40px 80px 0 30px;
}
.project-init h1{
     font-size:35px;
    font-weight:bold;
    color:#EF2B55;
}
.project-init p{
    padding-top:15px;
    color:#3F4040;
    font-size:16px;
}
.project-content h3{
    text-align:center;
    padding-top:20px;
    font-weight:bold;
    font-size:35px;
    color:#EF2B55;
    text-decoration:underline;
}
.content{
    display:flex;
    margin:20px 50px 20px 60px;
}
.text{
  padding-top:75px;  
}
.text small{
    font-size:14px;
    color:#3F4040;
}
.text h2{
    font-size:30px;
    font-weight: bold;
    padding-top:15px;
    color:#00153B;
}
.text p{
    font-size:16px;
    padding-top:15px;
    color:#3F4040;
}
.text button{
    background:#EF2B55;
    color:white;
    border:none;
    width:120px;
    height:35px;
    font-size:14px;
    margin-top:15px;
    cursor:pointer;
}
.interest{
    text-align:center;
    background: #EF2B55;
}
.interest h1{
    font-size:35px;
    font-style:italic;
    padding-top:20px;
    color:white;
}
.interest button{
    width:300px;
    height:40px;
    border:none;
    color:#EF2B55;
    margin:20px 0 40px 0;
    cursor:pointer;
}


/* Responsive */
@media only screen and (max-width:1000px){
  
    /* projects */

    .project-intro h1{
       font-size:45px;
    
    }
    .project-init h1{
        font-size:25px;
    }
    .project-init p{
        font-size:14px;
    }
    .project-content h3{
        font-size:25px;
    }
    .content{
      margin:40px 20px;  
    }
    .image img{
        width:500px;
        height:300px;
    }
    .text{
        padding-top:30px;
    }
    .text small{
        font-size:12px;
    }
    .text h2{
        font-size:20px;
    }
    .text p{
        font-size:14px;
    }
    .text button{
        width:100px;
        height:25px;
        font-size:12px;
    }
    .interest h1{
        font-size:25px;
    }
    .interest button{
        width:250px;
        height:30px;
}

}

@media only screen and (max-width:767px){


    /* projects     */

    .project-init{
        margin:30px 30px 0 30px;
    }
    .image{
        display:none;
    }
    .content{
        margin:5px 50px 20px 60px;
    }
    .text small{
        display:none;
    }

  
}