
  /* image slider */

   .carousel-control-prev,  .carousel-control-next{
      top:50%;
      bottom:50%;
  }
 
 
  .carousel-caption h1{
    font-size:65px;
    font-weight:bold;
    padding-bottom:25px;
    color:#EF2B55;
  }
  .carousel-caption h2{
      font-size:35px;
      font-weight:bold;
      padding-bottom:20px;
  }
  .carousel-caption p{
      padding-bottom:130px;
  }
  .demo {
      z-index: 10;
      position:absolute;
      bottom:100px;
      left:50%;
      margin-left:-40px;

  }
  .demo a{
      display:block;
      position:relative;
      
  }
  .demo a span{
      position: absolute;
      top: 0;
      background: #454545;
      width: 80px;
      height: 80px;
      border-radius: 50%;
     
  }
  .demo a span:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}
.demo a span:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 20px;
    height: 20px;
    margin: -15px 0 0 -10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; 
}

/* About_section */

.second-content{
    display:flex;
}

.about{
    background:#EF2B55;
    color:white;
    padding: 0 30px 40px  45px;
    
}
.about h1{
    padding: 85px 0 30px 0;
    font-size:35px;
    font-weight:bold;
}
.about p{
    font-size:16px;
    padding-bottom:30px;
}
.about button{
    font-size:14px;
    color:#EF2B55;
    border:none;
    height:35px;
    width:160px;
    cursor:pointer;
  
}
.about button:hover{
    border:1px solid #2cbfd3;
    color:#2cbfd3;
}

/* Projects */

.project_section{
    background-image: url("./img/project.png");
    background-size: cover;
    height:660px;
}
.project{
    display:flex;
    padding: 30px 60px 0 150px;
}
.project_section h1{
    font-size:35px;
    font-weight:bold;
    color:#EF2B55;
    padding:90px 0 0 200px;
}
.caption{
    padding:50px 0 0 30px;
}
.caption small{
   font-size:14px;
   color:#3F4040;
   
}
.caption h3{
    font-size:30px;
    padding-top:15px;
    color:#00153B;
    font-weight:bold;
}
.caption p{
    font-size:18px;
    padding-top:15px;
    color:#3F4040;
}
.caption button{
    background:#EF2B55;
    color:white;
    font-size:14px;
    border:none;
    height:35px;
    width:100px;
    cursor:pointer;
    margin-top:15px;
}
.fa-chevron-left, .fa-chevron-right{
    color:#fa0036;
  
}

/* tools and technologies */

.tool h1{
    font-size:35px;
    color:#EF2B55;
    padding:60px 0 0 150px;
    font-weight:bold;
}
.row{
    margin:50px 150px 60px 150px; 
}
.column {
    float: left;
    width: 25%;
    padding: 50px 0 40px 70px;
    border:1px solid #707070;
   
   
  }
.column img{
    width: 95px;
    height:115px;
}
    
/* team  */

.team{
    background-image: url("./img/team.png");
    background-size:cover;
    height:660px;
    width:100%;
   display:inline-flex;
  
}
.team h1{
    font-size:40px;
    padding: 255px 0 0 350px;
     position:relative;
}
.team button{
    width:200px;
    height:50px;
    background:#EF2B55;
    font-size:16px;
    border:none;
   margin: 320px 0 0 320px;
   cursor:pointer;

}
.team a{
    text-decoration:none;
    color:white;
}



/* Responsive */
@media only screen and (max-width:1000px){
     

      /* image slider */
      #slides .carousel-inner img{
          width:100%;
          
      }

      .carousel-caption h1{
          font-size:35px;
          padding-bottom:35px;
      }
      .carousel-caption h2{
          font-size:20px;
          padding-bottom:200px;
      }

      .carousel-caption p{
        display:none;
      }
      .carousel-inner{
          height:100%;
      }

      /* About Section */

      .second-content img{
        width:50%;
        height:400px;
      }
      .second-content{
          display:flex;
      }
      .about h1{
        font-size:25px;
        padding:30px 0 15px 0;
       
    }
    .about p{
        font-size:12px;
        padding-bottom:15px;
    }
    .about button{
        font-size:10px;
    }

    /* Projects  */

        .project img{
            display:none;
        }
        .project_section h1{
            font-size:25px;
            padding:30px 0 0 100px ;
        }
        .project_section{
            height:100%;
            width:100%;
        }
        .project{
            padding:0;
        }
        .caption{
            padding:30px 100px;
            text-align:justify;
        }
        .caption small{
            font-size:10px;
            
         }
         .caption h3{
             font-size:20px;
             padding-top:10px;
             color:#00153B;
         }
         .caption p{
             font-size:12px;
             padding-top:10px;
             color:#3F4040;
         }
         .caption button{
             font-size:10px;
         }

         /* tools and technologies  */
         .tool h1{
            font-size:25px;
            padding:30px 0 0 50px;
        }
        .row{
            margin:30px 50px 30px 50px; 
        }
         .column {
            width: 25%;
            padding:40px;
          
          }
          .column img{
            width: 100%;
            height:100%;
        }

         /* team  */
         .team{
            /* display:none; */
           height:100%;
           width:100%;
         }
         .team h1{
            font-size:25px;
            padding: 140px 0 0 210px;
        }
        .team button{
            width:150px;
            height:40px;
            font-size:14px;
           margin: 180px 0 140px 170px;
        }

        
        
        @media only screen and (max-width:767px){

              
  
    /* About Section */

    .second-content img{
      width:100%;
      height:100%;
    }
    .second-content{
        display:block;
    }
}

  /* Projects  */

      .project_section h1{
          padding:30px 0 0 50px ;
      }
     
    
      .caption{
          padding:30px 50px;
        
      }
     
       /* tools and technologies  */
   
       .column {
          width: 50%;
          padding:25px;
        
        }

       /* team  */
       .team{
          display:none;
       }

      }
         
  