
/* section_1 */
header{
    position:fixed;
    z-index:100;
    width:100%;
    height:80px;
   
}
.container-fluid{
    width:100%;
    padding:0;
    margin:0;
}

/* Navigation */
.navbar-brand img{
    height:50px;
  
}
.navbar{
    padding-top:10px;
}
.navbar-brand{
    margin-left:75px;
}
.apply{
   margin-right:30px;
   color:white; 
   font-weight:500; 
}
.apply:hover{
    text-decoration:none;
    color:white;
}
.nav-right{
    margin-right: 100px;
}
.navbar-light .navbar-toggler{
    border:none;
}
.container-fluid button:focus{
    outline:none;
}
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
     
    .animated-icon1 span {
    background: white;

    }

    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    .navbar-nav{
        display:block;
        background: rgba(0,0,0,0.60);
        width:90%;
        height:500px;
       margin:-15px 0 0 62px;
       padding:10px 0 0 40px;
    }
  #navbarSupportedContent li{
    display: inline-block; 
     
  }
  #navbarSupportedContent li a{
    display:inline-block;
    width: 300px;
    height: 200px; 
    margin:20px;
    background:#EF2B55;
    color:white;
    text-decoration:none;
    text-align:center;
    padding-top:55px;
  }
  .nav_desc{
        font-size:14px;
        padding-top:50px;
        
  }
  .item-nav{
      font-size:35px;
      font-weight: bold;
  }
  .nav-arrow img{
      padding-left:220px;
      height:15px;
  }
  .nav-scrolled{
      background:rgba(0, 0, 0, 0.7);    
  }
  /* image slider */

   .carousel-control-prev,  .carousel-control-next{
      top:50%;
      bottom:50%;
  }
 
 
  .carousel-caption h1{
    font-size:65px;
    font-weight:bold;
    padding-bottom:25px;
    color:#EF2B55;
  }
  .carousel-caption h2{
      font-size:35px;
      font-weight:bold;
      padding-bottom:20px;
  }
  .carousel-caption p{
      padding-bottom:130px;
  }
  .demo {
      z-index: 10;
      position:absolute;
      bottom:100px;
      left:50%;
      margin-left:-40px;

  }
  .demo a{
      display:block;
      position:relative;
      
  }
  .demo a span{
      position: absolute;
      top: 0;
      background: #454545;
      width: 80px;
      height: 80px;
      border-radius: 50%;
     
  }
  .demo a span:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}
.demo a span:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 20px;
    height: 20px;
    margin: -15px 0 0 -10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; 
}

/* About_section */

.second-content{
    display:flex;
}

.about{
    background:#EF2B55;
    color:white;
    padding: 0 30px 40px  45px;
    
}
.about h1{
    padding: 85px 0 30px 0;
    font-size:35px;
    font-weight:bold;
}
.about p{
    font-size:16px;
    padding-bottom:30px;
}
.about button{
    font-size:14px;
    color:#EF2B55;
    border:none;
    height:35px;
    width:160px;
    cursor:pointer;
  
}
.about button:hover{
    border:1px solid #2cbfd3;
    color:#2cbfd3;
}

/* Projects */

.project_section{
    background-image: url("./img/project.png");
    background-size: cover;
    height:660px;
}
.project{
    display:flex;
    padding: 30px 60px 0 150px;
}
.project_section h1{
    font-size:35px;
    font-weight:bold;
    color:#EF2B55;
    padding:90px 0 0 200px;
}
.caption{
    padding:50px 0 0 30px;
}
.caption small{
   font-size:14px;
   color:#3F4040;
   
}
.caption h3{
    font-size:30px;
    padding-top:15px;
    color:#00153B;
    font-weight:bold;
}
.caption p{
    font-size:18px;
    padding-top:15px;
    color:#3F4040;
}
.caption button{
    background:#EF2B55;
    color:white;
    font-size:14px;
    border:none;
    height:35px;
    width:100px;
    cursor:pointer;
    margin-top:15px;
}
.fa-chevron-left, .fa-chevron-right{
    color:#fa0036;
  
}

/* tools and technologies */

.tool h1{
    font-size:35px;
    color:#EF2B55;
    padding:60px 0 0 150px;
    font-weight:bold;
}
.row{
    margin:50px 150px 60px 150px; 
}
.column {
    float: left;
    width: 25%;
    padding: 50px 0 40px 70px;
    border:1px solid #707070;
   
   
  }
.column img{
    width: 95px;
    height:115px;
}
    
/* team  */

.team{
    background-image: url("./img/team.png");
    background-size:cover;
    height:660px;
    width:100%;
   display:inline-flex;
  
}
.team h1{
    font-size:40px;
    padding: 255px 0 0 350px;
     position:relative;
}
.team button{
    width:200px;
    height:50px;
    background:#EF2B55;
    font-size:16px;
    border:none;
   margin: 320px 0 0 320px;
   cursor:pointer;

}
.team a{
    text-decoration:none;
    color:white;
}

/* footer  */
.footer-wrapper{
    background:#303030;
    color:white;
}
.footer{
    display:flex;
    padding:50px 0 0 30px;
}
.footer p{
    font-size:14px;
}
.footer-logo p{
  
    padding-top:10px;
}
.footer a{
    color:#EF2B55;
    text-decoration:none;
}
.contact{
    padding-left:150px;
    line-height:25px;
}
.contact-type{
    display:flex;
    padding-top:10px;
}
.us-contact{
    padding-left:100px;
}
.link{
    padding-left:100px;
}
.link ul {
    list-style:none;
  padding:0; 
  font-size:14px;
  line-height:25px;
}

.footer-end{
display:flex;
padding:15px 0 0 30px;
border-top:1px solid #707070;
}
.copyright{
    font-size:14px;
}
.social{
    padding-left:545px;
}
.social a{
    text-decoration:none;
    color:white;
    margin-right:25px;
}

/* Responsive */
@media only screen and (max-width:1000px){
      /* Navigation */
      .navbar-brand{
        margin:0;
      }
      .nav-right{
        margin-right:50px;
    }
      .navbar-nav {
        
        padding:0;
         width:100%;
         margin:0;
         height:380px;
         background: rgba(0,0,0);
    
      }
    #navbarSupportedContent li{
        display:block;   
      }
      #navbarSupportedContent li a{
        display:block;
        background:none;
        width: 100%;
       height:45px;
        margin:15px 0 0 0 ;
        padding:0;
       
      }
      .nav_desc{
        display:none;
      }
      .nav-arrow img{
          display:none;
      }
      .item-nav{
          font-size:20px;
      }

      /* image slider */
      #slides .carousel-inner img{
          width:100%;
          
      }

      .carousel-caption h1{
          font-size:35px;
          padding-bottom:35px;
      }
      .carousel-caption h2{
          font-size:20px;
          padding-bottom:200px;
      }

      .carousel-caption p{
        display:none;
      }
      .carousel-inner{
          height:100%;
      }

      /* About Section */

      .second-content img{
        width:50%;
        height:400px;
      }
      .second-content{
          display:flex;
      }
      .about h1{
        font-size:25px;
        padding:30px 0 15px 0;
       
    }
    .about p{
        font-size:12px;
        padding-bottom:15px;
    }
    .about button{
        font-size:10px;
    }

    /* Projects  */

        .project img{
            display:none;
        }
        .project_section h1{
            font-size:25px;
            padding:30px 0 0 100px ;
        }
        .project_section{
            height:100%;
            width:100%;
        }
        .project{
            padding:0;
        }
        .caption{
            padding:30px 100px;
            text-align:justify;
        }
        .caption small{
            font-size:10px;
            
         }
         .caption h3{
             font-size:20px;
             padding-top:10px;
             color:#00153B;
         }
         .caption p{
             font-size:12px;
             padding-top:10px;
             color:#3F4040;
         }
         .caption button{
             font-size:10px;
         }

         /* tools and technologies  */
         .tool h1{
            font-size:25px;
            padding:30px 0 0 50px;
        }
        .row{
            margin:30px 50px 30px 50px; 
        }
         .column {
            width: 25%;
            padding:40px;
          
          }
          .column img{
            width: 100%;
            height:100%;
        }

         /* team  */
         .team{
            /* display:none; */
           height:100%;
           width:100%;
         }
         .team h1{
            font-size:25px;
            padding: 140px 0 0 210px;
        }
        .team button{
            width:150px;
            height:40px;
            font-size:14px;
           margin: 180px 0 140px 170px;
        }

        /* footer */
     
        .contact{
            padding-left:50px;  
        }
        .us-contact{
            padding-left:50px;
        }
        .link{
            padding-left:50px;
        }
      
     
      .social{
          padding-left:200px;
      }
      .social a{
          margin-right: 15px;
      }

    }
        
        @media only screen and (max-width:767px){

               /* Navigation */

    .apply{
        display:none;
    }
    
  
    /* About Section */

    .second-content img{
      width:100%;
      height:100%;
    }
    .second-content{
        display:block;
    }
 

  /* Projects  */

      .project_section h1{
          padding:30px 0 0 50px ;
      }
     
    
      .caption{
          padding:30px 50px;
        
      }
     
       /* tools and technologies  */
   
       .column {
          width: 50%;
          padding:25px;
        
        }

       /* team  */
       .team{
          display:none;
       }

       /* footer  */

       .footer{
           display:block;
           padding:30px 0 0 30px;
       }
       .contact{
           padding-left:0;
       }
       .contact-type{
           display:block;
       }
       .us-contact{
        padding-left:0;
       }
       .link{
           padding-left:0;
       }
       .footer-end{
           display:block;
           padding-top:10px;
           text-align:center;
       }
       .copyright{
          padding-right:10px;
       }
       .social{
           padding:0;
       }
      }
         
  