
.team-intro{
    background: url("./img/team-intro.png");
    background-size: cover;
    height:760px;
}
.team-intro h1{
    font-size:90px;
    font-weight:bold;
    color:white;
    text-align:center;
    padding-top:315px;
}
.team-quote{
    background: url("./img/team-2.png");
    background:cover;
    height:645px;
    box-shadow: inset 2000px 0 0 0 rgba(293, 43, 85, 0.75);
    color:white;
}
.team-quote .column{
    padding-top:65px;
    margin: 0 594px ;
    
}
.team-quote .column span{
    font-size:60px;
    font-weight:bold;
}
.team-quote .row{
    display:block;
    height:100px;
    background:rgba(3, 245, 237, 0.6);  
    text-align:center;
    /* font-size:45px; */
    /* font-weight:bold; */
    margin-top:60px;
    
}
.team-quote .diff{
    background:rgba(235,225,85,0.6);
}
.team {
    margin: 60px 0 0 0;
}
.team h1{
    font-size:60px;
    color:#EF2B55;
    font-weight:bold;
    margin-bottom:20px;
    margin-left:250px;
}
.team span{
    font-size:18px;
    margin-bottom:20px;
    color:#666666;   
    margin-left:250px;
}
.team .row{
    
    margin:40px 0 70px 180px;
}
.carousel-control-prev, .carousel-control-next{
    top:50%;
    bottom:50%;
}
.fa-chevron-circle-left, .fa-chevron-circle-right{
    color:#EF2B55;
}
.team img{
    margin-left:70px;
}
.team .row .caption{
    margin:-80px 0 0 200px;
    color:white;
}


.join{
    text-align:center;
    background: #EF2B55;
}
.join h1{
    font-size:60px;
    font-style:italic;
    padding-top:60px;
    color:white;
}
.join button{
    width:450px;
    height:65px;
    border:none;
    font-size:16px;
    color:#EF2B55;
    margin:30px 0 40px 0;
    cursor:pointer;
}

@media only screen and (max-width:1500px){
    .team-intro h1{
        font-size:45px;
    }
    .team-quote{
        height:500px;
    }
    .team-quote .column{
        padding-top:45px;
        margin: 0 170px ;
       
    }
    .team-quote .row{
        height:60px;
    }
    .team-quote .column span{
        font-size:35px;
    }
    .team h1{
        font-size:30px;
    }
   .team .row{
       width:100%;
       margin:0px 0px 70px 55px;  
   }
   .team img{
       padding-top:50px;
       margin-left:20px;
   }
   .team .row .caption{
    margin:-80px 0 0 160px;
}
   .join h1{
       font-size:35px;
   }

}
@media only screen and (max-width:767px){
    .team-quote .column{
        padding-top:5px;
        margin: 0 30px ;  
    }
    .team-quote{
        height:400px;
    }
    .team-quote .column span{
        font-size:30px;
    }
    
    .team .row{
        margin:10px 0 30px 0; 
    }
    .team img{
       margin-left:10px;
       padding-top:20px;
    }
    .team h1{
        margin-left:15px;
    }
    .team span{
        margin-left:15px;
    }
    .join h1{
        font-size:25px;
    }
    .join button{
        width:200px;
    }
}