/* header*/
header{
    position:fixed;
    z-index:100;
    width:100%;
    height:150px;
   
}
.container-fluid{
    width:100%;
    padding:0;
    margin:0;
}

/* Navigation */
.navbar-brand img{
    height:86px;
    width:270px;
 
  
}
.navbar{
    padding-top:20px;
}
.navbar-brand{
    margin-left:170px;
}
.apply{
    font-size:18px;
   margin-right:95px;
   color:white; 
   font-weight:500; 
}
.apply:hover{
    text-decoration:none;
    color:white;
}
.nav-right{
    margin-right: 170px;
}
.navbar-light .navbar-toggler{
    border:none;
}
.container-fluid button:focus{
    outline:none;
}
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
     
    .animated-icon1 span {
    background: white;

    }

    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    .navbar-nav{
        display:block;
        background: rgba(0,0,0,0.60);
        width:1620px;
        height:800px;
       margin:-15px 0 0 125px;
       padding:10px 0 0 100px;
    }
  #navbarSupportedContent li{
    display: inline-block; 
     
  }
  #navbarSupportedContent li a{
    display:inline-block;
    width: 435px;
    height: 350px; 
    margin:20px;
    background:#EF2B55;
    color:white;
    text-decoration:none;
    text-align:center;
    padding-top:115px;
  }
  .nav_desc{
        font-size:18px;
        font-weight:400;
        
  }
  .item-nav{
      display:block;
      font-size:50px;
      font-weight: bold;
      padding-top:20px;
   
  }
  .nav-arrow img{
      margin:0 0 0 300px;
      height:25px;
  }
  .nav-scrolled{
      background:rgba(0, 0, 0, 0.7);    
  }

  /* footer  */
  
.footer-wrapper{
    background:#303030;
    color:white;
}
.footer{
    display:flex;
    padding:90px 0 
30px 60px;
}
.footer h5{
    font-size:30px;
}
.footer p{
    font-size:16px;
    line-height:35px;
}
.footer-logo p{
    font-size:20px;
    padding-top:10px;
}
.footer a{
    color:#EF2B55;
    text-decoration:none;
}
.contact{
    padding-left:250px;
    line-height:25px;
}
.contact-type{
    display:flex;
    padding-top:10px;
}
.contact-type h6{
    font-size:22px;
}
.us-contact{
    padding-left:150px;
}
.link{
    padding-left:200px;
}
.link ul {
    list-style:none;
  padding-top:10px; 
  padding-left:0;
  font-size:16px;
  line-height:35px;
}

.footer-end{

display:flex;
padding:20px 0 10px 60px;
border-top:2px solid #707070;
}
.copyright{
    font-size:16px;
}
.social{
    padding-left:910px;
}
.social a{
    text-decoration:none;
    color:white;
    margin-right:45px;
}
@media only screen and (max-width:1890px){
    /* Navigation */
    .navbar-brand{
       margin:0;
     }
  
     .navbar-brand img{
         width:200px;
         height:70px;
     }
     .nav-right{
       margin-right:0px;
   }
     .navbar-nav {
       
       padding:0;
        width:100%;
        margin:0;
        height:380px;
        background: rgba(0,0,0);
   
     }
     .nav-scrolled{
        height:110px;
    }
   
   #navbarSupportedContent li{
       display:block;   
     }
     #navbarSupportedContent li a{
       display:block;
       background:none;
       width: 100%;
      height:45px;
       margin:7px 0 0 0 ;
       padding:0;
      
     }
     .nav_desc{
       display:none;
     }
     .nav-arrow img{
         display:none;
     }
     .item-nav{
         font-size:20px;
     }
     /* footer */
     .footer{
         flex-wrap:wrap;

     }
   .footer-logo{
       padding-right:50px;
   }
    .contact{
        padding: 15px 0 0 0px;  
    }
    .us-contact{
        padding-left:50px;
    }
    .link{
        padding-left:50px;
    }
    .link ul{
        line-height:30px;
    }
  .footer-end{
     display:block;
  }
 
  .social{
      padding-left:0px;
  }
  .social a{
      margin-right: 15px;
  }
}
@media only screen and (max-width:767px){
    /* Navigation */

    .apply{
      display:none;
  }
  .navbar{
    padding-top:12px;
}
  .navbar-brand img{
    width:120px;
    height:50px;
}
.nav-scrolled{
    height:80px;
}
        /*  footer  */ 

        .footer{
            display:block;
            padding:30px 0 0 15px;
        }
        .footer-logo img{
            width:130px;
            height:50px;
        }
   
       
        .contact{
            padding-left:0;
            padding-top:0px;
        }
        .contact-type{
            display:block;
        }
    
        .us-contact{
         padding-left:0;
        }
        .link{
            padding-left:0;
           
        }
      
        .footer-end{
            display:block;
            padding:10px 5px 0 0 ;
            text-align:center;
            
        }
      
 }
 